@model UpdateBlogCategoryDto
@{
    ViewData["Title"] = "Blog Kategori Güncelleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <input type="hidden" asp-for="BlogCategoryId">
    <label>Blog Kategori Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <button class="btn btn-outline-info">Güncelleme</button>
</form>

